<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImageLabellingApp"
        tools:targetApi="31">
        <activity
            android:name=".EditImageActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.imagelabellingapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ExportProjectActivity"
            android:exported="false"
            android:label="Export Project"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar" />
        <activity
            android:name=".EditImage"
            android:exported="false"
            android:label="Image Details"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar" />
        <activity
            android:name=".EditProjectActivity"
            android:exported="false"
            android:label="Edit Project Details"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ImageDetailsActivity"
            android:exported="false"
            android:label="Label Image" />
        <activity
            android:name=".selectProject"
            android:exported="false"
            android:label="Select a Project"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar" />
        <activity
            android:name=".createProject"
            android:exported="false"
            android:label="New Project"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="Project Images"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ImageLabellingApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>